<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div id="container">
    <div id="menu">
      ghfghf
    </div>
    <div class="appConfigContainer">
      <div class="searchContainer">
        <input type="text" placeholder="Search..." class="searchBox sourceSearch" [formControl]="sourcePortSearch">
        <input type="text" placeholder="Search..." class="searchBox destSearch" [formControl]="destPortSearch">
      </div>
      <div id="cnv">
      </div>
    </div>
  </div>
</body>
</html>
