<!--The content below is only a placeholder and can be replaced.-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
  $("#cnv").on("resizestop", function( event, ui ) {
      $("#cnv").find("svg").width($("#cnv").width());
      $("#cnv").find("svg").height($("#cnv").height());

	});
</script >
<div id="container">
  <div id="gh">
    ghfghf
  </div>
  <div id="cnv" style="margin-left: 15%">
  </div>
  <!--</div>-->
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
