#container {
  display: flex;
  justify-content: space-around;
  flex-direction: row wrap;
}
#cnv {
  width: 85%;
  height: 480px;
}
:host ::ng-deep #cnv > svg {
  position: inherit !important;
}
#gh {
  height: 1000px;
  width: 15%;
  background-color: aqua;
}
:host ::ng-deep .startNode {
  stroke: darkblue;
}
:host ::ng-deep .endNode {
  stroke: darkblue;
}
:host ::ng-deep .btwNode {
  stroke: darkblue;
}
