#cnv {
  height: 1000px;
  text-align: center
}
:host ::ng-deep svg {
  position: relative !important;
  width: 500px;
}
:host ::ng-deep .startNode {
  stroke: darkblue;
}
:host ::ng-deep .endNode {
  stroke: darkblue;
}
:host ::ng-deep .btwNode {
  stroke: darkblue;
}
